{% extends 'base.html' %}

{% load static %}

{% block head %}  

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/other/addother.css">

<style>
    div.card {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    td, tr{
        font-size: 15px;
    }
</style>
{% endblock head %}


{% block content %}
<div class="container mt-3">
   
    <form class="w-50 mx-auto mt-5" action="/other/store" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label fs-6">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" >
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>


{% endblock content %}