{% extends 'base.html' %}

{% load static %}

{% block head %}
<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/user/edituser.css">

<style>
    div {
        font-size: 14px;
    }
</style>
{% endblock head %}

{% block content %}

<div class="container mt-3 mb-3">
    <form action="{% url 'user:update' user.id %}" method="POST">
        {% csrf_token %}
        <div class="card">
            <div style="width: 97%; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title text-center">EDIT USER</h5>
                    <hr>

                    <div class="mb-3" style="display: flex; justify-content: left;">
                        <label class="form-label">ID :</label>
                        <input type="input" class="form-control" style="border: none; width: 50%;  margin-top: -8px; background-color: transparent;" id="editUserId" value="{{user.id}}" readonly disabled>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Username :</label>
                        <input type="input" class="form-control" id="editUserName" name="username" value="{{user.username}}" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">First Name :</label>
                        <input type="input" class="form-control" id="editFirstName" name="first_name" value="{{user.first_name}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Last Name :</label>
                        <input type="input" class="form-control" id="editLastName" name="last_name" value="{{user.last_name}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email Address :</label>
                        <input type="input" class="form-control" id="editEmail" name="email" value="{{user.email}}">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="userGroup">Group :</label>
                        <select name="userGroup" id="userGroup">
                            {% for group in groups %}
                                <option value="{{ group.id }}" {% if group in selectedgroups %}selected{% endif %}>
                                    {{ group.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                                                    
                    
                    <div class="mb-3">
                        <label class="form-label">Status :</label>
                        <select name="userStatus" id="userStatus">
                            <option value="1" {% if user.is_active %}selected{% endif %}>Active</option>
                            <option value="0" {% if not user.is_active %}selected{% endif %}>Inactive</option>
                        </select>
                    </div>

                    <div class="btnUpdateQuoteSet mt-4 mb-3" style="display: flex; justify-content: space-between; justify-content: right;">
                        <button type="submit" class="btn btn-secondary" style="font-size: 14px;">UPDATE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}
