{% extends 'base.html' %}

{% load static %}

{% block head %}  

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/base/login.css' %}">

<style>
    div.card {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    td, tr{
        font-size: 15px;
    }
</style>
{% endblock head %}


{% block content %}
<div class="container mt-3 mb-3">
  <div class="card ">
      <div style="width: 97%; margin: auto;">
                  <form method="post">
                    {% csrf_token %}
                    <div class="card-body login-form-body">
                      <h5 class="card-title text-center">ADD USER</h5>
                      <hr>
                  
                      {% for field in form %}
                        <p>
                          {{ field.label_tag }}<br>
                          {{ field }}
                          {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %}
                        </p>
                      {% endfor %}
                      <button type="submit" class="btn login-form-input-submit">SIGN UP</button>
                    </div>
                  </div>
                </form>
      </div>
  </div>
</div>


{% endblock content %}
