{% extends 'base.html' %}

{% load static %}

{% block head %}  

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/user/user.css">

<style>
    div.card {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    td, tr{
        font-size: 15px;
    }
</style>
{% endblock head %}


{% block content %}

<div class="container" style="font-size: 12px;">
    <div class="card mt-3">
        <div class="card-header" style="text-align: center;">
            <b style="font-size: 16px;">User Table</b>
        </div>
          <div class="card-body">
            <div style="display: flex; justify-content: space-between; width: 100%; ">
                <div style="display:flex; margin-bottom: 2%;;">
                    <button style="align-items:start;" onclick="location.href='/user/insert'" class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i data-feather="plus"></i> Add user </button>
                </div>
                <div style="display:flex; margin-bottom: 2%;">
                    <button style="align-items:start;" onclick="location.href='/group/'" class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> </i> Edit Permissions </button>
                </div>
              </div>
            <table id="userTable" class="table table-striped table-bordered" style="width:100%;">
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>Username</th>
                  <th>Date Created</th>
                  <th>Group</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for user in auth_user %}
                <tr>
                  <td name="pl" class="id" style="text-align: left;">{{ user.id }}</td>
                  <td name="pl" class="username" style="text-align: left;">{{ user.username }}</td>
                  <td name="pl" class="date" style="text-align: left;">{{ user.date_joined }}</td>
                  <td name="pl" class="group" style="text-align: left;">{{ user.name }}</td>
                  <td> 
                    <button class="btn btn-primary" ><a class="text-white text-decoration-none" href="{% url 'user:edit' user.id %}">Edit</a></button>
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete-confirmation-modal" data-user="{{ user }}" data-user-id="{{ user.id }}">Delete</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
  
          </div>
        </form>
    </div>

  </div>

{% endblock content %}

{% block scripts %}


<script>
    $(document).ready(function () {
        $('#userTable').DataTable({});
    })
</script>

{% endblock scripts %}