{% extends 'base.html' %}

{% load static %}

{% block head %}  

<!-- Icons -->


<!-- Custom CSS -->

<style>
    div.card {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    td, tr{
        font-size: 15px;
    }
</style>
{% endblock head %}


{% block content %}
<div class="container mt-3">
   
    <form class="w-50 mx-auto mt-5" action="/material/store" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label fs-6">Material Name</label>
            <input type="text" class="form-control" id="name" name="name" >
        </div>

        <div class="mb-3">
            <label for="price" class="form-label fs-6">Material Price</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>

<script type="module">
    import { faker } from 'https://cdn.skypack.dev/@faker-js/faker';
    $('#name').val(faker.commerce.productMaterial())
    $('#price').val(faker.number.int({ min: 100, max: 10000 }))
</script>

{% endblock content %}