/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

body {
  font-family: 'Times New Roman', Times, sans-serif;
  position: relative;
  display: flex;
}

.center-text {
  text-align: center;
}

.big-text {
  font-size: 30px;
}

.medium-text {
  font-size: 20px;
}

.white-text {
  color: #FFFFFF;
}

span {
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
}

.side-bar {
  background-color: #212529;
  color: #FFFFFF;
  min-height: 100vh;
}

.side-bar-header-text {
  flex-basis: 70%;
}

.scrollable-list {
  max-height: 80vh;
  overflow: auto;
}

.sidebar-dropdown-button{
  /* background-color: #6C757D; */
  width: 100%;
  text-align: left;
  border-radius: 0 !important;
}

.sidebar-dropdown-button:focus{
  background-color: #6C757D;
}

.sidebar-dropdown {
  position: relative;
}

/* .sidebar-dropdown::before{
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  background-color: #6C757D;
  opacity: 0.3;
  z-index: 1;
} */

.drop-down-text {
  padding-top: 2vh;
  margin-left: 2.5vw;
}

.last-drop-down-text {
  padding-top: 1vh !important;
  padding-bottom: 2vh;
}

.li-line {
  border: solid #6C757D;
  margin-top: 1vh;
  opacity: 0.1;
}


.pin{
  border: none;
  background-color: inherit;
  /* float: right !important; */
  /* margin-right: 0; */
  /* margin-left: 100px; */
}