{% extends 'base.html' %}

{% load static %}

{% block head %}

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/customer/addcustomer.css">

{% endblock head %}

{% block content %} 

<div class="container mt-3 mb-3">
    <div class="card ">
        <div style="width: 97%; margin: auto;">
            
            <form action="/customer/store" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <h5 class="card-title text-center">ADD CUSTOMER</h5>
                    <hr>
                    
                    <div class="mb-3">
                        <label class="form-label" name="customerStatus" id="customerStatus">Status :</label>
                        <select>
                            <option value="0">Select status:</option>
                            <option value="1">Aktif</option>
                            <option value="1">Non-Aktif</option>
                        </select>
                    </div>

                    <!-- <div class="mb-3">
                        <label class="form-label">Code :</label>
                        <input type="input" class="form-control" id="CustomerCode" name="CustomerCode">
                    </div> -->

                    <div class="mb-3">
                        <label class="form-label">Name :</label>
                        <input type="input" class="form-control" id="customerName" name="customerName">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Tax ID :</label>
                        <input type="input" class="form-control" id="customerTaxID" name="customerTaxID">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">PIC :</label>
                        <input type="input" class="form-control" id="customerPIC" name="customerPIC">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">No. Tlp 1 :</label>
                        <input type="input" class="form-control" id="customerTlp" name="customerTlp">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">No. Tlp 2 :</label>
                        <input type="input" class="form-control" id="customerTlp1" name="customerTlp1">
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Address 1 :</label>
                        <input type="input" class="form-control" id="customerAddress" name="customerAddress">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Address 2 :</label>
                        <input type="input" class="form-control" id="customerAddress1" name="customerAddress1">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Zip Code :</label>
                        <input type="input" class="form-control" id="customerZipCode" name="customerZipCode">
                    </div>

                    <div class="btnUpdateQuoteSet mt-4 mb-3" style="display: flex; justify-content: space-between; justify-content: right;">
                        <button type="submit" class="btn btn-secondary" style="font-size: 14px;">Add Customer</button>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}