@import url('https://fonts.googleapis.com/css?family=Poppins');
input{
    height: 17px;
    text-align: center;
}

.card-body{
    padding: 10px;
}

body{
    font-size: 12px;
}

a{
    color: black;
}

input {
    text-align: center !important;
}

/* style input setelah hr */
.inputMd{
    width: 100px;
}

/* style input percentase */
.inputPercentage{
    width: 45px !important;
}

.inputPercentageOther{
    width: 40px !important;
}
.inputSearch{
    height: 30px !important;
    margin-right: 1%;
}
/* css input table yang ada operation budgetnya */
.inputS{
    width: 4vw !important;
}

.operationInputMd{
    width: 5.5vw !important;
}





input[type="radio"]{
    margin-top: -1px;
    vertical-align: middle;
}



.row{
    text-align: center;
    align-items: center;
}

.calculateRow{
    display: flex;
    justify-content: space-between;
}

.calculatecol1{
    display: flex;
    justify-content: flex-end;
}

.calculatecol2{
    display: flex;
    justify-content: flex-start;
}
.btnsearch{
    height: 30px !important;
    display: inline-flex;
    align-items: center;
    float: right;
}

.btnoption{
    width: 30%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #9c9c9c;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
}

.btnoption::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    opacity: 0;
}

.btnoption:hover {
    height: 100%;
    opacity: 1;
}


.btnoption:disabled {
    opacity: 1;
    pointer-events: none;
}

.modal-body{
    text-align: center !important;
}

.trash{
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    margin: 0 !important;
    padding: 0 !important;
}

.trashimgicon{
    vertical-align: middle;
    width: 18px !important;
    height: 18px !important;
    border: none;
    background-color: transparent;
}

.otherData{
    vertical-align: middle;
    border: none;
    background-color: transparent;
}

.otherDataInput{
    vertical-align: middle;
}

.btncreate{
    display: flex;
    flex-basis: 40%;
    justify-content: right;
    margin-top: 3%;
    margin-bottom: 4%;
}

.btngraph{
    justify-content: left !important;
}

#line-chart {
    max-width: 60vw;
    max-height: 45vh;
}

a{
    text-decoration: none;
    color: white;
}

.alink{
    color: black !important;
}

/* css input modal - modal quotation material */
.inputt{
    width: 100px !important;
}

.inputt1{
    width: 120px !important;
}

.imgcalcu{
    width: 25px !important;
    height: 25px !important;
}

.btnsearch2{
    height: 30px !important;
    display: inline-flex;
    align-items: center;
    float: right;
    margin-left: 2%;
}

/* css modal - quotation option // untuk button modal */
.btnsearch1{
    height: 30px !important;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 0% 10%;
    width: 80px;
    justify-content: center;
}

/* css modal - board */
/* kolom input modal board 3 teratas */
.inputtt{
    width: 90%;
}

/* kolom input modal board 3 teratas */

.label-span-unit {
    width: 35px;
    color: black;
}
.inputtt1{
    width: 60%;
}

.inputtt2{
    width: 85%;
}

.inputtt3{
    width: 100%; 
}

.cardmodal{
    margin-top: -10px;
    margin-bottom: 10px;
}

.jarak {
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}


/* Number of preview */
.inputtt4{
    width: 80%;
}

.txtimg{
    position: relative;
}

.noInput{
    background-color: transparent;
    border: none;
    
}
/* .PreviewContainer{
    margin-top: 7%;
}

/* style preview board */

.weightps{
    display: flex;
    justify-content: center;
}

#weightBoardFromPartScale{
    margin-right: 51%;
    margin-left: -1%;
}

#WeightFromPart{
    margin-right: 1%;
}

.angka {
    position: absolute;
    width: 5.3%;
    height: 7%;
    background-color: white;
    display: flex;
        justify-content: center;
    align-items: center;
    left: 29.2%;
    top: 37.2%;
}

.angka1 {
    position: absolute;
    width: 5.3%;
    height: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 29.2%;
    top: 72.8%;
}

.angka2 {
    position: absolute;
    width: 3.7%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 11%;
    top: 57.4%;
}

.angka3 {
    position: absolute;
    width: 5%;
    height: 8.2%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 47.7%;
    top: 57.4%;
}

.angka4 {
    position: absolute;
    width: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 47.7%;
    top: 85%;
}

.angka5 {
   position: absolute;
   width: 5.4%;
   height: 7%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   left: 44%;
   top: 3.1%;
}

.angka6 {
    position: absolute;
    width: 5.4%;
    height: 7%;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     left: 52.5%;
    top: 83%;
}

.angka7 {
    position: absolute;
    width: 5.3%;
    height: 9%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 18.2%;
    top: 54.2%;
}

.angka8 {
    position: absolute;
    width: 5.3%;
    height: 7%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 29.2%;
    top: 59.2%;
}

.angka9 {
    position: absolute;
    width: 5.4%;
    height: 7%;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
    left: 83.5%;
    top: 28%;
}

.angka10 {
    position: absolute;
    width: 5.4%;
    height: 7%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 11%;
    top: 28%;
}

.angka11 {
    position: absolute;
    width: 5.4%;
    height: 7%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 44%;
    top: 63.5%;
}

.angka12 {
    position: absolute;
    width: 5.4%;
    height: 7%;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
    left: 22.3%;
    top: 28.5%;
}

.angka13 {
    position: absolute;
    width: 5.4%;
    height: 7%;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
    left: 48%;
    top: 45.5%;
}

/* style preview bar */
.space{
    margin-bottom: 15px;
}

.imgwidth{
    max-width: 550px;
    max-height: 80px;
    /* box-shadow: 2px 2px 5px #ccc;
    -moz-box-shadow: 2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    -khtml-box-shadow: 2px 2px 5px #ccc; */
}

.imgwidth1{
    max-width: 550px;
    max-height: 70px;
}

.judul {
    position: absolute;
    left: 9%;
    top: -24%;
}

.judul1 {
    position: absolute;
    left: 20.5%;
    top: -24%;
}

.judul2 {
    position: absolute;
    left: 87%;
    top: -24%;
}

.angkaa {
    position: absolute;
    left: 3%;
    top: 74%;
}

.angkaa1 {
    position: absolute;
    left: 12%;
    top: 74%;
}

.angkaa2 {
    position: absolute;
    left: 80.5%;
    top: 74%;
}

.angkaa6 {
    position: absolute;
    left: 44%;
    top: 109%;
}
 
.horizontalline{
    margin: 2em 0 0 0;
}

.angkaa3 {
    position: absolute;
    left: 27.2% !important;
    top: -24%;
}

.angkaa4 {
    position: absolute;
    left: 52.1% !important;
    top: -24%;
}

.angkaa5 {
    position: absolute;
    left: 58% !important;
    top: 42%;
}

.angkaa7 {
    position: absolute;
    left: 37% !important;
    top: 65%;
}

div#BarFromScalePreviewPartScale {
    position: absolute;
    left: 245px;
}

/* calculation number of & scale input style */
.kolominput .kolominput1{
    width: 85%;
}


.jarak1{
    margin-top: 1%;
}

.jarak2{
    margin-top: 3%;
}


/* dropdown */

select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    font-size: 14px;
    /* font-family: Arial, sans-serif; */
    font-family: 'Poppins';
    font-size: 10px;
  }
  
  select option {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    background-color: white;
    color: #333;
  }

/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */
input[type="text"].noInput:focus{
    border: none;
    outline: none;
}

input[type="text"].noInput:hover{
    border: none;
    cursor: default;
}
