.jarak{
    margin: 3% 0;
}

#content1::after{
    content: "\a";
    white-space: pre;
}

.total{
    padding-inline-end: 3%;
    padding-inline-start: 6%;
}

hr{
    margin: 5% 0;
}

.btncreate{
    display: flex;
    flex-basis: 40%;
    justify-content: right;
    margin-top: 3%;
    margin-bottom: 4%;
}

tr{  
    border: solid;  
} 

.margin{
    /* border-bottom: 1px solid black; */
    margin-bottom: 6%;
}

.note-textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: vertical;
    line-break: anywhere;
}


