{% extends 'base.html' %}

{% load static %}

{% block head %}

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/part/editpart.css">

<style>
    div.card {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        font-size: 15px;
    }
</style>

{% endblock head %}

{% block content %} 

<div class="container mt-3 mb-3">
    <form action="{% url 'process:update' process.ProcessId %}" method="POST">
        {% csrf_token %}
        <div class="card ">
        <div style="width: 97%; margin: auto;">
            <div class="card-body">
                <h5 class="card-title text-center">EDIT PROCESS</h5>
                <hr>
                
                <div class="mb-3">
                    <label class="form-label" for="idCategory">Category :</label>
                    <select name="idCategory" id="idCategory">
                        <option value="{{ process.CategoryId }}" selected>{{ process.categoryName }}</option>
                        {% for p in procOption %}
                            <option value="{{ p.idCategory }}" {% if p.idCategory == process.CategoryId %}selected{% endif %}>
                                {{ p.categoryName }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                
                <div class="mb-3">
                    <label for="name" class="form-label">Name :</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ process.Name }}">
                </div>
        
                <div class="mb-3">
                    <label for="setting-cost" class="form-label">Setting Cost :</label>
                    <input type="text" class="form-control" id="setting-cost" name="setting_cost" value="{{ process.SettingCost }}">
                </div>
        
                <div class="mb-3">
                    <label for="process-cost" class="form-label">Process Cost :</label>
                    <input type="text" class="form-control" id="process-cost" name="process_cost" value="{{ process.ProcessCost }}">
                </div>
        
                <div class="mb-3">
                    <label for="default-set-time" class="form-label">Default Setting Cost :</label>
                    <input type="text" class="form-control" id="default-set-time" name="default_set_time" value="{{ process.DefaultSetTime }}">
                </div>
        
                <div class="mb-3">
                    <label for="default-ope-time" class="form-label">Default Ope Cost :</label>
                    <input type="text" class="form-control" id="default-ope-time" name="default_ope_time" value="{{ process.DefaultOpeTime }}">
                </div>

                <div class="btnUpdateQuoteSet mt-4 mb-3" style="display: flex; justify-content: space-between; justify-content: right;">
                    <button type="submit" class="btn btn-secondary" style="font-size: 14px;">UPDATE</button>
                </div> 
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}


{% endblock scripts %}