{% extends 'base.html' %}

{% load static %}

{% block head %}  

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>

<!-- Custom CSS -->

<style>
    div.card {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    td, tr{
        font-size: 15px;
    }
</style>
{% endblock head %}


{% block content %}
<div class="container mt-3">
   <a href="/material/insert">
       <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i data-feather="plus"></i> Add Material</button>
    </a>

    <table class="table table-hover table-bordered border-secondary" style="width: 70%; margin: 0 auto;">
        <thead>
            <tr>
                <th scope="col">Material ID</th>
                <th scope="col">Nama</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
           
            {% for m in Materials %}
            <tr>
                    <td> {{ m.idMaterial }} </td>
                    <td> {{ m.Name }} </td>
                    <td> {{ m.Price }} </td>
                    <td> 
                        <button class="btn btn-primary" ><a class="text-white text-decoration-none" href="/material/edit/{{m.idMaterial}}">Edit</a></button>
                        <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete-confirmation-modal" data-material="{{ m }}" data-material-id="{{  m.idMaterial }}">Delete</button>
                    </td>
                    
            </tr>
            {% endfor %}

        
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" id="delete-confirmation-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title">DELETE ACCOUNT</h3>
                
            </div>
            <div class="modal-body fs-4">
                <h5 class="mb-3">Are you sure want to delete this material?</h5>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm-delete" >Delete</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
<script>
    const modal1 = document.getElementById('delete-confirmation-modal');

    modal1.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        
        //data received as a string 
        //ex :
        //"{'ID': 1, 'NAME': 'John'}"
        var em_detail = button.getAttribute('data-material')
        var em_id = button.getAttribute('data-material-id')

        //remove the open and close curly bracket and get the data using split by comma
        em_detail = em_detail.replace("{", "")
        em_detail = em_detail.replace("}", "")
        text = em_detail.split(',')
        
        //loop data and append it to modal body
        text.forEach(function(val, i) {
            //remove the single quote and add space for readability
            val = val.replace(/'+/g, "")
            val = val.replace(':', " : ")
            $(".modal-body").append( "<p class='fs-6'>" + val +"</p>" );
        });
        $('#confirm-delete').attr('onclick', `location.href='/material/delete/${em_id}'` )
    }); 

</script>
{% endblock scripts %}