{% extends 'base.html' %}

{% load static %}

{% block head %}  

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/quotation/quotation.css">

{% endblock head %}


{% block content %}

<div class="container">
  <div class="card mt-3">
      <div class="card-header" style="text-align: center;">
          <b>Quotation Table</b>
      </div>

      <form action="{% url 'Quotation' %}" method="POST">
        {% csrf_token %}
        <div class="card-body">
          <div style="display: flex; width: 100%;">
            <div style="flex-basis: 60%; margin-bottom: 2%;">
              <a href="{% url 'CreateNew' %}"><button type="button" class="btn btn-secondary">Create New Quotation</button></a>
              <button type="button" name="action" value="edit" class="btn btn-secondary" id="edit-button">Edit/Detail</button>
              <button type="submit" name="action" value="delete" class="btn btn-secondary" id="DeleteQuotation">Delete</button>
              <a href="#"><button value="createPDF" type="button" class="btn btn-secondary" id="createPDF">Create PDF</button></a>
            </div>
          </div>
      
          <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>#</th>
                <th>No.</th>
                <th>Customer</th>
                <th>Parts</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
                <th>Created At</th>
                <th>Expired Date</th>
                <th>Log</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for q in quotation %}
              <tr>
                <td>
                  <input class="form-check-input" type="checkbox" name="selected_quotation" value="{{ q.QUOTATION_ID }}" {% if edit_quotation and edit_quotation.Quotation_ID == q.Quotation_ID %}checked{% endif %}>
                </td>
                <td>{{ forloop.counter }}</td>
                <td>{{ q.customerName  }}</td>
                <td>{{ q.PRODUCT_NAME }}</td>
                <td>{{ q.QUANTITY }}</td>
                <td>{{ q.BUDGET_PER_UNIT }}</td>
                <td>{{ q.TOTAL }}</td>
                <td>{{ q.CREATED_AT }}</td>
                <td>{{ q.EXPIRED }}</td>
                <td>Last modified by {{ q.ACTIVITY_LOG }}</td>
                <td>
                  <button type="button" class="btn"
                    style="color: 
                      {% if q.QUOTATION_STATUS == 'Draft' %} #000000;
                      {% elif q.QUOTATION_STATUS == 'Accepted' %} #337ab7;
                      {% elif q.QUOTATION_STATUS == 'Submitted' %} #5cb85c;
                      {% elif q.QUOTATION_STATUS == 'Rejected' %} #f0ad4e;
                      {% elif q.QUOTATION_STATUS == 'Expired' %} #cc0000;
                      {% endif %}"
                    disabled>{{q.QUOTATION_STATUS}}</button>
                </td>
                         
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <input type="hidden" name="action" value="createPDF">
          <input type="hidden" name="selected_quotation" value="{{ pdf_quotation.Quotation_ID }}">
      
          {% if edit_quotation %}
          <input type="hidden" name="action" value="edit">
          <input type="hidden" name="selected_quotation" value="{{ edit_quotation.Quotation_ID }}">
          {% else %}
          <input type="hidden" name="action" value="delete">
          {% endif %}
        </div>
      </form>
  </div>
</div>


{% endblock content %}


{% block scripts %}

<script>
    feather.replace()
</script>

<script>
  $(document).ready(function () {
    var table = $('#myTable').DataTable({});

    $('#DeleteQuotation').click(function () {
        $('#QuotationId').val(table.row('.selected').data()[1]);
        // table.row('.selected').remove().draw(false);
    });

    var data = table.rows().data();
    let quotationlength = parseInt(data.length);

    for (let i=0 ; i<quotationlength ; i++){
        price = data[i][5];
        price = currency(price);

        total = parseInt(data[i][6]);
        total = currency(total);

        data[i][5] = price;
        data[i][6] = total;
    }

    $('#myTable').dataTable().fnClearTable();   
    for (let i=0 ; i<quotationlength ; i++){
        $('#myTable').dataTable().fnAddData(data[i]);
    }
  });
</script>

<script>
    function currency(val){
        const formatter = new Intl.NumberFormat('id', {style: 'currency', currency: 'idr'});
        val = formatter.format(val);
        return val;
    }
</script>

<script>
    function calculateExpiredDate() {
      var createdDate = document.getElementById("createdDate").value;
      var expiredDate = new Date(createdDate);
      expiredDate.setDate(expiredDate.getDate() + 10);
      document.getElementById("expiredDate").value = expiredDate.toISOString().split('T')[0];
    }
  </script>

<script>
    // document.getElementById('DeleteQuotation').addEventListener('click', function() {
    //   var selectedQuotation = document.querySelector('input[name="selected_quotation"]:checked');
    //   if (selectedQuotation) {
    //     document.getElementById('SelectedQuotationId').value = selectedQuotation.value;
    //     document.querySelector('input[name="action"]').value = 'delete';
    //   } else {
    //     // No quotation is selected
    //     alert('Please select a quotation to delete.');
    //     return false; // Prevent form submission
    //   }
    // });
  </script>

<script>
  $('#edit-button').on('click', function(){
    // var q_id = $('input[type="checkbox"]:checked').val()
    var q_id = $('.form-check-input:checkbox:checked')
  
    if(q_id.length > 1){
      alert('Please pick one file only to edit')
      return;
    }

    else if(q_id.length == 0)  
    {
      alert('Pick file to edit')
      return;
    }

    q_id = $('.form-check-input:checkbox:checked').val()
    location.href = '/Quotation/detail/' + q_id
  
  })
</script>

<script>
  $('#createPDF').on('click', function(){
    var q_id = $('.form-check-input:checkbox:checked')

    if(q_id.length > 1)  
    {
      var firstCheckboxName = checkboxes.first().attr('selected_quotation');
      var sameName = true;
      console.log('tes selected name' , firstCheckboxName)

      checkboxes.each(function() {
          if ($(this).attr('selected_quotation') !== firstCheckboxName) {
              sameName = false;
              return false; // Exit the loop early
          }
      });

      if (!sameName) {
        alert('Selected checkboxes should have the same name.');
      }

      return;

    }else if(q_id.length == 0){
      alert('Please pick one file only to create the pdf')
      return;
    }

    q_id = $('.form-check-input:checkbox:checked').val()
    location.href = '/Quotation/createPDF/' + q_id
  })
</script>
{% endblock scripts %}