{% extends 'base.html' %}

{% load static %}

{% block head %}  

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/quotation/quotation.css">

{% endblock head %}


{% block content %}

<div class="container">
  <div class="card mt-3">
      <div class="card-header" style="text-align: center;">
          <b>Quotation Table</b>
      </div>

      <form action="{% url 'Quotation' %}" method="POST">
        {% csrf_token %}
        <div class="card-body">
          <div style="display: flex; width: 100%;">
            <div style="flex-basis: 60%; margin-bottom: 2%;">
              <a href="{% url 'CreateNew' %}"><button type="button" class="btn btn-secondary">Create New Quotation</button></a>
              <button type="button" name="action" value="edit" class="btn btn-secondary" id="edit-button">Edit/Detail</button>
              <button type="submit" name="action" value="delete" class="btn btn-secondary" id="DeleteQuotation">Delete</button>
              <button type="button" name="action" value="createPDF" class="btn btn-secondary" id="create-pdf-button">Create PDF</button>
            </div>
          </div>
          <div id="result">

          </div>
      
          <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>#</th>
                <th>No.</th>
                <th>Customer</th>
                <th>Parts</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
                <th>Created At</th>
                <th>Expired Date</th>
                <th>Log</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for q in quotation %}
              <tr>
                <td>
                  <input class="form-check-input" type="checkbox" name="selected_quotation" value="{{ q.QUOTATION_ID }}" {% if edit_quotation and edit_quotation.Quotation_ID == q.Quotation_ID %}checked{% endif %}>
                </td>
                <td>{{ forloop.counter }}</td>
                <td name="pl" class="customerName">{{ q.customerName  }}</td>
                <td name="pl" class="productName">{{ q.PRODUCT_NAME }}</td>
                <td name="pl" class="quantity">{{ q.QUANTITY }}</td>
                <td name="pl" class="budgetPerUnit">{{ q.BUDGET_PER_UNIT }}</td>
                <td name="pl" class="totalAmount">{{ q.TOTAL }}</td>
                <td>{{ q.CREATED_AT }}</td>
                <td>{{ q.EXPIRED }}</td>
                <td>Last modified by {{ q.ACTIVITY_LOG }}</td>
                <td>
                  <button type="button" class="btn" id="quotationButton-{{ q.QUOTATION_ID }}" disabled>{{ q.QUOTATION_STATUS }}</button>
                </td>
                         
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <input type="hidden" name="action" value="createPDF">
          <input type="hidden" name="selected_quotation" value="{{ pdf_quotation.Quotation_ID }}">
      
          {% if edit_quotation %}
          <input type="hidden" name="action" value="edit">
          <input type="hidden" name="selected_quotation" value="{{ edit_quotation.Quotation_ID }}">
          {% else %}
          <input type="hidden" name="action" value="delete">
          {% endif %}
        </div>
      </form>
  </div>
</div>


{% endblock content %}


{% block scripts %}

<script>
    feather.replace()
</script>

<script>
  $(document).ready(function () {
    var table = $('#myTable').DataTable({});

    $('#DeleteQuotation').click(function () {
        $('#QuotationId').val(table.row('.selected').data()[1]);
        // table.row('.selected').remove().draw(false);
    });

    var data = table.rows().data();
    let quotationlength = parseInt(data.length);

    for (let i=0 ; i<quotationlength ; i++){
        price = data[i][5];
        price = currency(price);

        total = parseInt(data[i][6]);
        total = currency(total);

        data[i][5] = price;
        data[i][6] = total;
    }

    $('#myTable').dataTable().fnClearTable();   
    for (let i=0 ; i<quotationlength ; i++){
        $('#myTable').dataTable().fnAddData(data[i]);
    }
  });
</script>

<script>
    function currency(val){
        const formatter = new Intl.NumberFormat('id', {style: 'currency', currency: 'idr'});
        val = formatter.format(val);
        return val;
    }
</script>

<script>
    function calculateExpiredDate() {
      var createdDate = document.getElementById("createdDate").value;
      var expiredDate = new Date(createdDate);
      expiredDate.setDate(expiredDate.getDate() + 10);
      document.getElementById("expiredDate").value = expiredDate.toISOString().split('T')[0];
    }
  </script>

<script>
  $('#edit-button').on('click', function(){
    // var q_id = $('input[type="checkbox"]:checked').val()
    var q_id = $('.form-check-input:checkbox:checked')
  
    if(q_id.length > 1){
      alert('Please pick one file only to edit')
      return;
    }

    else if(q_id.length == 0)  
    {
      alert('Pick file to edit')
      return;
    }

    q_id = $('.form-check-input:checkbox:checked').val()
    location.href = '/Quotation/detail/' + q_id
  
  })
</script>

<script>
  $('#create-pdf-button').on('click', function () {
    var selectedCheckboxes = $("input[name='selected_quotation']:checked");

    if (selectedCheckboxes.length === 0) {
      alert('Please select at least one quotation to create the PDF.');
      return;
    }

    var selectedCustomerName = '';
    var customerNameMismatch = false;

    selectedCheckboxes.each(function () {
      var currentCustomerName = $(this).closest('tr').find('td:nth-child(3)').text();
      var currentPartName = $(this).closest('tr').find('td:nth-child(4)').text();
      var currentQty = $(this).closest('tr').find('td:nth-child(5)').text();
      var currentPricePerUnit = $(this).closest('tr').find('td:nth-child(6)').text();
      var currentTotal = $(this).closest('tr').find('td:nth-child(7)').text();
      if (!selectedCustomerName) {
        selectedCustomerName = currentCustomerName;
        var arrayCustomerName = [];
        selectedCheckboxes.each(function () {
          arrayCustomerName.push(currentCustomerName);
        });
        console.log("Selected quotation name: " + arrayCustomerName.join(','));
        // console.log(currentPartName);
        // console.log(currentQty);
        // console.log(currentPricePerUnit);
      } else if (selectedCustomerName !== currentCustomerName) {
        customerNameMismatch = true;
        console.log(currentCustomerName);
        console.log(currentPartName);
        console.log(currentQty);
        console.log(currentPricePerUnit);
        return false; // Exit the loop early
      }
    });
   
    if (customerNameMismatch) {
      alert('Please select quotations with the same customer name to create the PDF.');
      return;
    }

    var selectedIds = [];
    selectedCheckboxes.each(function () {
      selectedIds.push($(this).val());
    });

    console.log("Selected quotation IDs: " + selectedIds.join(','));

    // Construct the URL for PDF generation endpoint and redirect
    var url = '/Quotation/createPDF/' + selectedIds.join(',');
    location.href = url;
  });
</script>


<script>
  var quotationData = JSON.parse('{{ quotationjs|escapejs }}');

  for (var i = 0; i < quotationData.length; i++) {
    (function() {
      var q = quotationData[i];
      var quotationButton = document.getElementById("quotationButton-" + q.QUOTATION_ID);
      var quotationStatus = q.QUOTATION_STATUS;

      quotationButton.style.color = getColorCode(quotationStatus);

      function getColorCode(status) {
        const colorCodes = {
          Draft: "#000000",
          Accepted: "#337ab7",
          Submitted: "#5cb85c",
          Rejected: "#f0ad4e",
          Expired: "#cc0000",
        };

        return colorCodes[status] || "";
      }
    })();
  }
</script>
{% endblock scripts %}