{% extends 'base.html' %}

{% load static %}

{% block head %}  

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/static/css/quotation/settingquote.css">

{% endblock head %}

{% block content %} 

<div class="container mt-3">
<form action="/Quotation/QuotationSetting/edit" method="POST">   
    {% csrf_token %}
    <!-- RATE -->
    <div class="card text-center">
        <div style="width: 97%; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">RATE</h5>
                <hr>
                <div class="row">
                    <div class="col">
                        <div>
                            Material Rate
                        </div>
                        <div>
                            <input type="text" id="materialRatePercentage" name="materialRatePercentage" value="{{set_quotation.set_material_rate}}"> %
                        </div>
                    </div>
                    
                    <div class="col">
                        <div>
                            Out Source Rate
                        </div>
                        <div>
                            <input type="text" id="outSourceRatePercentage" name="outSourceRatePercentage" value="{{set_quotation.set_out_source_rate}}"> %
                        </div>
                    </div>
                    
                    <div class="col">
                        <div>
                            Management Cost Rate
                        </div>
                        <div>
                            <input type="text" id="managementCostRatePercentage" name="managementCostRatePercentage" value="{{set_quotation.set_management_cost_rate}}"> %
                        </div>
                    </div>
                    
                    <div class="col">
                        <div>
                            <label class="form-label" for="expiredDateDefault">Expired Date Default</label>
                        </div>
                        <div>                            
                            <select name="expiredDateDefault" id="expiredDateDefault">
                                <option>{{set_quotation.set_expired_date}}</option>
                                <option value="1 Day">1 Day</option>
                                <option value="2 Days">2 Days</option>
                                <option value="3 Days">3 Days</option>
                                <option value="4 Days">4 Days</option>
                                <option value="5 Days">5 Days</option>
                                <option value="6 Days">6 Days</option>
                                <option value="7 Days">7 Days</option>
                                <option value="8 Days">8 Days</option>
                                <option value="9 Days">9 Days</option>
                                <option value="10 Days">10 Days</option>
                                <option value="11 Days">11 Days</option>
                                <option value="12 Days">12 Days</option>
                                <option value="13 Days">13 Days</option>
                                <option value="14 Days">14 Days</option>
                                <option value="15 Days">15 Days</option>
                                <option value="16 Days">16 Days</option>
                                <option value="17 Days">17 Days</option>
                                <option value="18 Days">18 Days</option>
                                <option value="19 Days">19 Days</option>
                                <option value="20 Days">20 Days</option>
                                <option value="21 Days">21 Days</option>
                                <option value="22 Days">22 Days</option>
                                <option value="23 Days">23 Days</option>
                                <option value="24 Days">24 Days</option>
                                <option value="25 Days">25 Days</option>
                                <option value="26 Days">26 Days</option>
                                <option value="27 Days">27 Days</option>
                                <option value="28 Days">28 Days</option>
                                <option value="29 Days">29 Days</option>
                                <option value="30 Days">30 Days</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- MATERIAL ITEM -->
    <div class="card text-center mt-3">
        <div style="width: 97%; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">MATERIAL ITEM</h5>
                <hr>
                <!-- TITLE MATERIAL ITEM -->
                <div class="row mt-2 mb-3">
                    <div class="col">
                        <h6>
                            From Number Of
                        </h6>
                    </div>
                    
                    <div class="col">
                        <h6>
                            From Part Scale
                        </h6>
                    </div>
                </div>

                <!-- INPUT MATERIAL ITEM -->
                <div class="row">
                    <div class="col">
                        <div>
                            Exposed
                        </div>
                        <div>
                            <input type="text" id="exposedNumOfRate" name="exposedNumOfRate" value="{{set_quotation.set_exposed_number_of}}"> mm
                        </div>
                    </div>
                    
                    <div class="col">
                        <div>
                            Margin
                        </div>
                        <div>
                            <input type="text" id="marginNumOfRate" name="marginNumOfRate" value="{{set_quotation.set_margin_number_of}}"> mm
                        </div>
                    </div>
                    
                    <div class="col">
                        <div>
                            Exposed
                        </div>
                        <div>
                            <input type="text" id="exposedPartScaleRate" name="exposedPartScaleRate" value="{{set_quotation.set_exposed_part_scale}}"> mm
                        </div>
                    </div>
                    
                    <div class="col">
                        <div>
                            Margin
                        </div>
                        <div>
                            <input type="text" id="marginPartScaleRate" name="marginPartScaleRate" value="{{set_quotation.set_margin_part_scale}}"> mm
                        </div>
                    </div>
                </div>

                <!-- PREVIEW MATERIAL ITEM -->
                <div class="row mt-4 mb-2">
                    <div class="col">
                        <h6>
                            MARGIN (NUMBER OF)
                        </h6>
                        <div class="txtimg">
                            <img style="width: 80%;" src="{% static 'images/settingquotationpreviewmarginnumberof.png' %}">
                            <input class="angka noInput" id="FromNumPreviewMargin1" value="{{set_quotation.set_margin_number_of}}" readonly></input>
                            <input class="angka1 noInput" id="FromNumPreviewHalfMargin1" value="{{set_quotation.half_margin_number_of}}" readonly></input>
                            <input class="angka2 noInput" id="FromNumPreviewHalfMargin2" value="{{set_quotation.half_margin_number_of}}" readonly></input>
                            <input class="angka3 noInput" id="FromNumPreviewMargin2" value="{{set_quotation.set_margin_number_of}}" readonly></input>
                            <input class="angka4 noInput" id="FromNumPreviewExposed" value="{{set_quotation.set_exposed_number_of}}" readonly></input>
                        </div>
                    </div>
                    <!-- board (margin scale of preview)-->
                    <div class="col" style="margin-left: 8%;">
                        <h6>
                            MARGIN (SCALE) 
                        </h6>
                        <div class="txtimg">
                            <img style="width: 80%;" src="{% static 'images/settingquotationpreviewmarginscale.png' %}">
                            <input class="angka5 noInput" id="FromPartScalePreviewMargin" value="{{set_quotation.half_margin_part_scale}}" readonly></input>
                            <input class="angka6 noInput" id="FromPartScalePreviewExposed" value="{{set_quotation.set_exposed_part_scale}}" readonly></input>
                            <input class="angka9 noInput" id="FromPartScalePreviewMargin1" value="{{set_quotation.half_margin_part_scale}}" readonly></input>
                            <input class="angka10 noInput" id="FromPartScalePreviewHalfMargin" value="{{set_quotation.half_margin_part_scale}}" readonly></input>
                            <input class="angka11 noInput" id="FromPartScalePreviewHalfMargin1" value="{{set_quotation.half_margin_part_scale}}" readonly></input>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="btnUpdateQuoteSet mt-3 mb-3" style="display: flex; justify-content: space-between; justify-content: right;">
        <button type="submit" class="btn btn-secondary" style="font-size: 14px;">Set Default</button>
    </div> 
</form> 
</div>

{% endblock content %}

{% block scripts %}


{% endblock scripts %}